.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item-completed {
  text-decoration: line-through;
  color: red;
}

.add-butt {
  margin-top: 4% !important;
}

.clear-btn {
  border-radius: 10px !important;
}
